---
import GitHub from "./icons/GitHub.astro";
import GitHub2 from "./icons/Github2.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import React from "./icons/React.astro";
import Express from "./icons/Express.astro";
import Firestore from "./icons/Firebase.astro";
import Html from "./icons/Html.astro";
import Javascript from "./icons/Javascript.astro";
import Python from "./icons/Python.astro";
import Sql from "./icons/Sql.astro";
import Php from "./icons/Php.astro";
import Css from "./icons/Css.astro";
import Java from "./icons/Java.astro";
import Bootstrap from "./icons/Bosstrap.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-[#003159] text-white",
    icon: Bootstrap,
  },
  REACT: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: React,
  },
  EXPRESS: {
    name: "Express.js",
    class: "bg-black text-white",
    icon: Express,
  },
  FIREBASE: {
    name: "Firestore",
    class: "bg-black text-white",
    icon: Firestore,
  },
  HTML: {
    name: "HTML",
    class: "bg-black text-white",
    icon: Html,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-black text-white",
    icon: Javascript,
  },
  PYTHON: {
    name: "Python",
    class: "bg-black text-white",
    icon: Python,
  },
  SQL: {
    name: "MySQL",
    class: "bg-black text-white",
    icon: Sql,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#003159] text-white",
    icon: Php,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: Css,
  },
    JAVA: {
    name: "Java",
    class: "bg-[#003159] text-white",
    icon: Java,
  },
};
const PROJECTS = [
  {
    title: "SVGL - A beautiful library with SVG logos",
    description:
      "Biblioteca de logos SVG de las marcas más populares. Más de 10,000 visitas al mes. Más de 2,000 SVG descargados. Creada desde cero con Next.js, React y Tailwind CSS.",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/pheralb/svgl",
    image: "/projects/svgl.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Asistify",
    description:
      "El Panel de Control de Asistencia de Empleados es una aplicación que permite al administrador gestionar y monitorear la asistencia de los empleados de manera eficiente. La aplicación está diseñada para centralizar el registro de asistencia, ausencias y tardanzas, y facilitar la generación de reportes detallados sobre la asistencia de los empleados.",
    link: "https://svgl.vercel.app/",
    github2: "https://github.com/xeduark/backendAsistify",
    github: "https://github.com/xeduark/AppAsistify",
    image: "/projects/homeAsistify.png",
    tags: [TAGS.EXPRESS, TAGS.REACT, TAGS.FIREBASE, TAGS.BOOTSTRAP],
  },
  {
    title: "EyA Sports",
    description:
      "Sitio web para consultar resultados de partidos de fútbol y ver partidos.",
    link: "https://eyasoccer.netlify.app/",
    github: "https://github.com/xeduark/EyA_SAS.git",
    image: "/projects/eyaLogin.png",
    tags: [TAGS.HTML, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  },
  {
    title: "App Streamlit",
    description:
      "Sitio web para gestionar y crear datos de empleados, consultar el nivel de estrés dependiendo del modo de trabajo, y consultar los niveles de hurto en el área metropolitana. Todas estas aplicaciones generan gráficos con Pandas. Además, incluye una aplicación usando la API de Gemini para comentar código y un generador de itinerarios de viaje.",
    link: "https://nt-panelcontrolasistencia-b9quzcpwvkqn4airqprcsl.streamlit.app/Proyecto_Integrador",
    github: "https://github.com/dannyedison75/NT-PanelControlAsistencia.git",
    image: "/projects/streamlitapp.png",
    tags: [TAGS.FIREBASE, TAGS.PYTHON],
  },
  {
    title: "My Nómina",
    description:
      "Sitio web para administradores que deseen gestionar la nómina de sus empleados y sus respectivas liquidaciones.",
    link: "#",
    github: "https://github.com/ProyectoNomina24/login",
    image: "/projects/softapp.png",
    tags: [TAGS.SQL, TAGS.PHP, TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: "Fresh Food",
    description:
      "Dashboard para gestionar recetas vegetarianas y no vegetarianas con imágenes almacenadas en Google Storage.",
    link: "#",
      github2: "https://github.com/xeduark/recetixBackend",
    github: "https://github.com/xeduark/recetixFrontend.git",
    image: "/projects/Recetas.png",
      tags: [TAGS.EXPRESS, TAGS.REACT, TAGS.FIREBASE, TAGS.CSS],
  },
    {
    title: "Asistify - Mobile",
    description:
      "Es una aplicación que permite al administrador gestionar y monitorear a los empleados en su versión móvil.",
      github: "https://github.com/xeduark/panel-control-asistencia-empleados-movil",
    image: "/projects/collageasistify.png",
        tags: [TAGS.FIREBASE, TAGS.JAVA]
  },
    {
    title: "My Nómina - Mobile",
    description:
      "Es una aplicación para calcular la nómina propia y de tus empleados, liquidaciones y gestionar gastos, en su versión móvil.",
      github: "https://github.com/xeduark/My-Nomina-movil",
    image: "/projects/collage2.png",
        tags: [TAGS.FIREBASE, TAGS.JAVA]
  },
    {
    title: "Calculadora",
    description:
      "Una calculadora clásica, muy útil para operaciones básicas con un diseño dinámico y modos de vista oscuro y claro.",
        github: "https://github.com/xeduark/calculadoraWeb1",
    link: "https://edwardcalcula.netlify.app/",
    image: "/projects/CALCULADORA.png",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT]
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github, github2 }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github2 && (
                <LinkButton href={github2}>
                  <GitHub2 class="size-6" />
                  Back-End
                </LinkButton>
              )}
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                   Front-End
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>